<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show text</title>
     <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <div class = "back">

    <a class = "text "href="/">Go Back To Home </a>
    <h1> <%= filename %> </h1>
  <div class ="detail">
    <pre><%= filedata %></pre>
  </div>
    

    </div>
    
</body>
</html>